.form-container {
  /* border: 1px solid black; */
  box-shadow: 2px 2px 5px black;
  border-radius: 9px;
}
.login {
  background: white;
}
.img {
  background-image: url(./background1.png);
  background-size: cover;
  background-repeat: no-repeat;
}
