.form-card {
  /* border: 1px solid black; */
  background-color: rgba(255, 255, 255, 0.762);
  box-shadow: 1px 1px 5px black;
  border-radius: 9px;
  margin: 19.2px 0;
  padding: 10px;
  flex-grow: 0;
  height: 760px;
}

.form-card form input {
  border: 1px solid black;
  border-radius: 9px;
  outline: yellow;
}

.form-card form input:focus {
  background-color: white !important;
  border: 2px solid blue;
  outline: none;
  border-radius: 9px;
}

.main-bk {
  background-image: url(./main-bk.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
