.upcoming-container {
  background: rgb(21, 58, 149);
  border-radius: 9px;
  padding: 10px;
  color: white;
}

.collapsed {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.span {
  font-size: 2rem;
}
